*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Courier New', Courier, monospace;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    background:transparent;
    background: rgb(130, 127, 130);
    align-content: center;
}
header .logo{
    padding-top: 0.5%;
    width: 80px;
    height: 80%;
    margin-left: 5px;
    display: flex;
}
.p{
    margin-top: 15px;
}
.p:hover{
    color:black;
}
img{
    width: 80%;
    border-radius: 25px;
}
header .item{
    width:50%;
    display: flex;
    gap: 6%;
    align-items: center;
    justify-content: center;
    margin-left: 13%;

}
.item a{
    color: #fff;
    text-decoration: none;
}
.item a:hover{
    color: rgb(11, 9, 11);
    text-decoration: lightblue;
}
.login{
    width: 5%;
    height: 30px;
    background-color: rgb(179, 134, 186);
    color: #fff;
    text-align: center;
    margin-top: 1.5%;
    margin-left:9%;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.5s;
}
.login:hover{
    width: 6%;
    color: rgb(16, 6, 6);
}
.giohang{
    width: 5%;
    height: 100%;
    font-size: 50px;
    margin-left: 3%;
    margin-top: 5px;
    color: #050505;
    transition: .5s;
}
.giohang:hover{
    font-size: 55px;
    color: #fff;
}
.warpper{
    width: 100%;
    height: 2500px;
    background: rgb(241, 113, 113);
}
.content
{
    margin-top: 20px;
    width: 100%;
    height: 1850px;

}
.nhandh{
    width: 100%;
    height: 400px;
    display: flex;
    gap:5%;
    justify-content: center;
    align-items: center;
}
.tieude{
    width: 100%;
    height: 60px;
    text-align: center;
}
.tieude1{
    padding-top: 2%;
    font-size: 30px;
}
.tieude1-1{
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 300px;
}
.tieude1-2{
    padding-top: 2%;
    font-size: 30px;
}
.sanpham{
    width: 20%;
    height: 300px;
    border-radius: 12px;
    transition: .5s;
}
.caption:hover{
    width: 100%;
    height: 40px;
    color: #fff;
}
.caption{
    color:grey;
}
.thumbnail{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.dongho1{
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sanpham:hover{
    width: 22%;
    height: 380px;
    margin-top: 8px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline solid rgb(255, 255, 255);
}
.chu1{
    width: 80%;
    height: 50%;
    text-align: center;
    margin-left: 10%;
    color: black;
}
.shop{
    width:90%;
    height: 300px;
    margin-left: 5%;
    
}
.shop1{
    width: 100%;
    height: 90%;
    margin-top:10px ;
    display: flex;
    gap:8%;
    margin-left: 30px;
    flex-wrap:wrap;
}
.shop1 .shop1-1{
    width: 16%;
    height: 100%;
    transition: .5s;
}
/*.shop1-1:hover{
    width:16% ;
    height: 103%;
}*/
.shop-chu{
    text-align: center;
    color: black;
}
#footer{
    width: 100%;
    height: 200px;
    background: black;
    display: flex;
    gap:3%;
}
.logo{
    width: 50px;
    height: 50px;
    margin-left: 30%;
}
.logo1{
    margin-top: 20px;
}
.logo2{
    margin-top: 12px;
    margin-left: 10px;
}
.box{
    width: 30%;
    height: 100%;
}
.mnu{
    margin-top: 25px;
    color: #fff;
    margin-left: 15px;
}
.quick-menu{
    margin-left: 15px;
}
p{
    color: #fff;
}
.box .theo{
    margin-top: 20px;
    color:#fff;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0);
}
.fb{
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    display: flex;
}

.box .icon .bx{
    background-color: rgb(255, 255, 255);
    font-size: 50px;
    color: #050505;
    margin: 17px;
    border-radius: 50%;
}

